<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <span class="reference">12345678</span>
    <div class="service__state">En service</div>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div class="informations">
      <div class="localisation">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero veniam
        laudantium maiores aperiam nihil dolore neque ad accusantium totam
        incidunt quasi molestias, deserunt optio. Nam nesciunt voluptatum
        molestiae explicabo autem?
      </div>
      <div class="floor__container">
        <button mat-flat-button color="primary">Edit</button>
        <span id="floor__title">Etage</span>
        <h2 id="floor">27</h2>
      </div>
    </div>
    <div class="photos"></div>
  </ng-template>
</mat-expansion-panel>
